/* App.css */



body {
  font-family: 'Arial', sans-serif; /* Change the font family to Arial */
  
}
.logo {
  position:absolute;
  top:1%;
  left: 25%;
}
.logo img {
  height:300px;
  width: 5oopx;

}

select {
  font-size: 25px;
  font-weight: 300;
  padding: 8px;
  border-radius: 5px;
  border: 10px ;
  font-family: 'Arial', sans-serif; 
  
}


.placeholder-box {
  position: relative;
  margin-top: 50px;
  height: 300px; /* Set a fixed height for the boxes */
  margin: 10px;
  overflow: scroll;
  border: 3px solid rgb(25, 105, 197);
  border-radius: 10px;
}

.placeholder-text {
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling within the text box */
  box-sizing: border-box;
  
}

/* Container for horizontal scrolling */
.scroll-container {
  display: flex;
  overflow-x: auto;
}

.title-box {
  position:sticky;
  left: 25% ;
  background-color: rgb(25, 105, 197);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Change the font family to Arial */
  font-size: 20px;

}
